<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>directory</title>
    <link rel="stylesheet" type="text/css" href="../static/Semantic-UI/semantic.min.css">
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="../static/Semantic-UI/semantic.min.js"></script>
</head>
<body>
<div class="ui text container">
<h1 class="ui dividing header">Flask learn</h1>
<a href="./upload">upload</a><br>
<a href="./login">login</a><br>
<a href="./rxlsx">read xlsx</a><br>
</div>
</body>
</html>